$color_blue:#282f44;
$color_brown:#e6af2e;
$color_yellow:#f5d061;
$color_white: #ececec;
// --------------------------
*{
    font-family: 'serif';
}
@mixin ab_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
@mixin size($w,$h) {
    width: $w;
    height: $h;
}
html,body{
    overflow: hidden;
    font-size: 16px;
}
header{
    position: relative;
    background-color: $color_blue;
    text-align: center;
    .ico{
        width: 80%;
        max-width: 250px;
        padding: 250px 0;
    }
    .marginbottom{
        position: absolute;
        width: 95%;
        bottom: 0;
        right: -20px;
        animation: upin 2s both;
    }
    @keyframes upin {
        0%{
            bottom: -100px;
        }
        100%{
            bottom: 0; 
        }
    }
    .explore{
        @include ab_center()
    }
}